@page
@model Bakery.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h1 class="fw-light">Checkout</h1>

@if (Model.basket.NumberOfItems > 0)
{
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Cost per unit</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.basket.Items)
            {
                <tr>
                    <td>@Model.SelectedItems.First(x => x.Id == item.ProductId).Name</td>
                    <td>@item.Quantity</td>
                    <td>$@item.UnitPrice</td>
                    <td class="text-end">$@(item.Quantity * item.UnitPrice)</td>
                </tr>
            }
        </tbody>
        <tfoot class="border-top">
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td class="text-end">$@Model.basket.Items.Sum(x => x.Quantity * x.UnitPrice)</td>
            </tr>
        </tfoot>
    </table>

    <form method="post">
        <div class="form-group mb-3">
            <label asp-for="CustomerEmail" class="form-label"></label>
            <input asp-for="CustomerEmail" class="form-control" />
            <span asp-validation-for="CustomerEmail" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="CustomerAddress" class="form-label"></label>
            <textarea asp-for="CustomerAddress" class="form-control"></textarea>
            <span asp-validation-for="CustomerAddress" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center mb-lg-5">
            <button class="btn btn-success"><i class="bi bi-rocket-takeoff"></i> Ship Order</button>
        </div>
    </form>
}
else
{
    <p class="text-center">Your basket is currently empty</p>
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}